<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= @dnone %>">
  <div class="container d-flex align-items-center">
    <%= link_to "NightSkyper", root_path, class: "navbar-home ps-5" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= form_with url: search_path, class: "d-flex searchbar-form ", method: 'GET' do |f| %>
      <%= f.text_field :query, class: 'form-control searchbar-input', placeholder: 'Enter a destination' %>
      <%= f.submit 'Search', class: "search-btn", name: nil %>
    <% end %>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <%# <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          <%# </li> %>
          <%# <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          <%# </li> %>
          <li class="nav-item dropdown pe-5">
            <% if current_user.photo.present? %>
              <img src="<%= current_user.photo %>" class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
            <% elsif %>
              <img class= "avatar drop-down-toggle" id="navbarDropdown" data-bs-toggle= "dropdown" aria-haspopup= "true" aria-expanded= "false" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="">
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "My favorites", favorites_path, class: "dropdown-item" %>
              <%= link_to "My reviews", reviews_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
