<div class="markers d-flex flex-column">
  <div class="marker-container d-flex">
    <% if marker.photo.present? %>
      <img class="marker-img" src="<%= marker.photo %>" alt="">
    <% else %>
      <img class="marker-img" src="https://images.pexels.com/photos/360912/pexels-photo-360912.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
    <% end %>
    <div class="marker-card">
      <div class="marker-content">
        <div class="d-flex justify-content-between">
          <h2><%= link_to marker.title, result_path(coordinates: [marker.longitude, marker.latitude]) %></h2>
          <% if current_user && marker.id && !marker.favorite?(current_user) %>
            <%= render '/pages/add_favorites.html.erb', path: path %>
          <% elsif current_user && marker.id && marker.favorite?(current_user) %>
            <%= render '/pages/remove_favorites.html.erb', path: path %>
          <% end %>
        </div>
        <h3><%= marker.description %></h3>
          <div class="marker-bottom">
            <p> <%= marker.address.split(", ")[-6] %> - <%= marker.address.split(", ")[-3] %> - <%= marker.address.split(", ")[-2] %></p>

            <div class= "rating">
              <% marker.average_rating.times do %>
                <span class="fa fa-star checked"></span>
              <% end %>

              <% (5 - marker.average_rating).times do %>
                <span class="fa-solid fa-star unchecked"></span>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
