<div class="markers d-flex flex-column">
  <div class="marker-container d-flex">
    <% if marker.photo.attached? %>
      <%= cl_image_tag marker.photo.key, class: 'marker-img' %>
    <% else %>
      <img class="marker-img" src="https://images.pexels.com/photos/360912/pexels-photo-360912.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
    <% end %>
    <div class="marker-card">
      <div class="marker-content">
        <h2><%= link_to marker.title, result_path(coordinates: [marker.longitude, marker.latitude]) %></h2>
        <h3><%= marker.description %></h3>
          <div class="marker-bottom">
            <p> <%= marker.address.split(", ")[-6]%>, <%= marker.address.split(", ")[-3]%>, <%= marker.address.split(", ")[-2]%></p>
            <div class= "rating">
              <% marker.average_rating.times do %>
                <span class="fa fa-star checked"></span>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<%# marker.address.split(", ")[-7] %> <%#= marker.address.split(", ").last(2).join(", ") %>
