<div id="overview">
<% if today %>
  <h2>Overview</h2>

 <div class="cards d-flex flex-column ">
    <% if today %>
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <div class="text-center mb-3">
            <% if Date.parse(today[:datetime]) === Date.today %>
            <h4>Today</h4>
            <div>datetime: <%= today[:datetime] %></div>
            <% elsif Date.parse(today[:datetime]) === Date.tomorrow %>
            <h4>Tomorrow</h4>
            <div>datetime: <%= today[:datetime] %></div>
            <% else %>
            <h4><%= Date::DAYNAMES[Date.parse(today[:datetime]).wday] %></h4>
            <div>datetime: <%= today[:datetime] %></div>
            <% end %>
        </div>
        <div class="row">
          <div class="col-4">
            <div>tempmax: <%= (((today[:tempmax].to_i)-32)/1.8).round(1) %>℃</div>
            <div>tempmin: <%= (((today[:tempmin].to_i)-32)/1.8).round(1) %>℃</div>
            <div>temp: <%= (((today[:temp].to_i)-32)/1.8).round(1) %>℃</div>
            <div>conditions: <%= today[:conditions] %></div>
          </div>
          <div class="col-4">
            <div>moonphase: <%= today[:moonphase] %></div>
            <div>moonrise: <%= today[:moonrise] %></div>
            <div>moonset: <%= today[:moonset] %></div>
          </div>
          <div class="col-4">
            <div>bortle: <%= @bortle %></div>
            <div>
              <p>Bortle class is a light pollution scale from 0 to 10.</p>
              <p>0 is : pure sky without any light pollution</p>
              <p>10 is : saturated sky by light pollution</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
<% end %>
  <% if today %>
    <div class="view-details d-flex justify-content-center <%= @nodetails %>">
      <%= link_to "View details", "#", class:"NS-button" %>
    </div>
  <% end %>
  <% if today %>
    <div class="add-favorites d-flex justify-content-center <%= @noaddfav %>">
      <%= link_to "Add to favorites", favorites_path, class:"NS-button" %>
    </div>
  <% end %>
</div>
