<div id="overview">
  <div class="row mx-5 mb-3">
    <div class="col d-flex justify-content-left align-items-center ">
      <div class="my-3">
          <% if Date.parse(day[:datetime]) === Date.today %>
          <h4 data-date="<%= day[:datetime] %>">Today</h4>
          <div><%= day[:datetime] %></div>
          <% elsif Date.parse(day[:datetime]) === Date.tomorrow %>
          <h4>Tomorrow</h4>
          <div>datetime: <%= day[:datetime] %></div>
          <% else %>
          <h4><%= Date::DAYNAMES[Date.parse(day[:datetime]).wday] %></h4>
          <div>datetime: <%= day[:datetime] %></div>
          <% end %>
      </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center text-center">
      <h4><%= place_name %></h4>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
      <p class="p-1 m-0">Long : <%= marker.longitude.round(2) %></p>
      <p class="p-1 m-0">Lat : <%= marker.latitude.round(2) %></p>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-10 border-bottom m-auto"></div>
  </div>
  <div class="row my-2">
    <div class="d-flex justify-content-end">
      <% if marker.id && !marker.favorite?(current_user) %>
        <a href=<%= marker_favorites_path(marker) %> class="add" data-method="post"><i class="fa-regular fa-heart fav-icon"></i></a>
      <% elsif marker.id && marker.favorite?(current_user) %>
        <a href=<%= marker_favorites_path(marker) %> class="remove" data-method="delete" data-confirm="Delete this marker from you favorites?"> <i class="fa-solid fa-heart fav-icon"></i></a>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-around mx-3 mt-3 mb-5">
    <div class="col-3">
      <div class="flip-card text-center">
        <div class="flip-card-inner">
          <div class="flip-card-front p-3">
            <% condition = day[:conditions].split(",")[0]%>
            <div class="my-3">
              <%= image_tag("#{@weather.get_url(condition)}", width: "50%") %>
            </div>
            <%= day[:conditions]%>
            <div class="my-2">
              <h4><%= (((day[:temp].to_i)-32)/1.8).round(1) %>℃</h4>
            </div>
          </div>
          <div class="flip-card-back p-3 text-center">
            <p><strong>Temp.max :</strong> <%= (((day[:tempmax].to_i)-32)/1.8).round(1) %>℃</p>
            <p><strong>Temp.min :</strong> <%= (((day[:tempmin].to_i)-32)/1.8).round(1) %>℃</p>
            <p><strong>Temp :</strong> <%= (((day[:temp].to_i)-32)/1.8).round(1) %>℃</p>
            <p><strong>Humidity :</strong> <%= day[:humidity] %> %</p>
            <p><strong>Cloudcover :</strong> <%= day[:cloudcover] %> %</p>
            <p class="font-italic"><%= day[:description] %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="flip-card text-center">
        <div class="flip-card-inner">
          <div class="flip-card-front p-3">
            <% phase = day[:moonphase]%>
            <div class="my-3">
              <%= image_tag("#{@weather.get_url(phase)}", width: "50%") %>
            </div>
            <h4><%= "#{@weather.get_moonphase(phase)}" %></h4>
          </div>
          <div class="flip-card-back p-3 text-center">
            <p><strong>Sunrise :</strong> <%= day[:sunrise] %></p>
            <p><strong>Sunset :</strong> <%= day[:sunset] %></p>
            <p>-</p>
            <p><strong>Moonrise :</strong> <%= day[:moonrise] %></p>
            <p><strong>Moonset :</strong> <%= day[:moonset] %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="flip-card text-center">
        <div class="flip-card-inner">
          <div class="flip-card-front p-3">
            <div class="my-3">
              <%= image_tag("bortle/light-bulb", width: "40%") %>
            </div>
            <h5>Bortle: <%= @bortle %></h5>
          </div>
          <div class="flip-card-back bortle-card p-3">
            <p>Bortle class is a light pollution scale from 0 to 10.</p>
            <p>0 is a pure sky without any light pollution</p>
            <p>10 is a saturated sky by light pollution</p>
            <h6 class="text-center">Bortle: <%= @bortle %></h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if day == Date.today %>
    <%= link_to "View details", search_path(coordinates: [marker.longitude, marker.latitude]), class:"NS-button" %>
  <% end %>
</div>
