<h2>prediction card</h2>

<div class="cards d-flex flex-column ">
  <% meteo_prediction.each do |jour| %>
    <div class="card mb-4 box-shadow">
      <div class="card-body text-center">
        <div class="row">
          <div class="col-3 text-start">
            <% if Date.parse(jour[:datetime]) === Date.today %>
            <p>Today</p>
            <div><p><%= jour[:datetime] %></p></div>
            <% elsif Date.parse(jour[:datetime]) === Date.tomorrow %>
            <div><p><% jour[:datetime] %></p></div>
            <% else %>
            <div><p><%= jour[:datetime] %></p></div>
            <% end %>
          </div>

          <div class="col-3">
            <div>
            <%# <% condition = jour[:conditions].split(",")[0]%>
            <%# <% if condition == "#{jour[:conditions]}" %>  %>
            <%# <%= image_tag("weather/#{jour[:conditions]}")%> %>
            <%# <% end %> %>
            <%# <%= jour[:conditions]%> %> %>
            </div>
          </div>

          <div class="col-3">
            <div>
            <img src="" alt="">
            <p>moonphase: <%= jour[:moonphase] %></p>
            </div>
          </div>

          <div class="col-3">
            <div>
            <img src="" alt="">
            <p>bortle: <%= @bortle %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
