<div class="card mb-4 box-shadow">
  <div class="card-body text-center">
    <div class="row">
      <div class="col-3 text-start d-flex align-items-center">
        <% if Date.parse(day[:datetime]) === Date.today %>
          <div>
          <h5>Today</h5>
            <p><%= day[:datetime] %></p>
          </div>
        <% elsif Date.parse(day[:datetime]) === Date.tomorrow %>
          <div>
          <h5>Tomorrow</h5>
            <p><%= day[:datetime] %></p>
          </div>
        <% else %>
          <div>
          <h5><%= Date::DAYNAMES[Date.parse(day[:datetime]).wday] %></h5>
            <p><%= day[:datetime] %></p>
          </div>
        <% end %>
      </div>

      <div class="col-3 d-flex flex-column align-items-center">
        <% condition = day[:conditions].split(",")[0]%>
        <div class="h-75">
        <%= image_tag("#{@weather.get_url(condition)}", width: "30%") %>
        </div>
        <%= day[:conditions]%>
      </div>

      <div class="col-3 d-flex flex-column align-items-center">
        <% phase = day[:moonphase]%>
        <div class="h-75">
        <%= image_tag("#{@weather.get_url(phase)}", width: "45%") %>
        </div>
        <%= "#{@weather.get_moonphase(phase)}" %>
      </div>
      
      <div class="col-3 d-flex flex-column align-items-center">
        <div class="h-75">
        <%= image_tag("bortle/light-bulb", width: "24%") %>
        </div>
        Bortle: <%= @bortle %>
      </div>
    </div>
  </div>
</div>
