<div class="card mb-4 box-shadow">
  <div class="card-body mb-0 text-center">
    <div class="row">
      <div class="col-3 text-start d-flex align-items-center">
        <% if Date.parse(day[:datetime]) == Date.today %>
          <div>
          <h5>Today</h5>
            <p><%= day[:datetime] %></p>
          </div>
        <% elsif Date.parse(day[:datetime]) == Date.tomorrow %>
          <div>
          <h5>Tomorrow</h5>
            <p><%= day[:datetime] %></p>
          </div>
        <% else %>
          <div>
          <h5><%= Date::DAYNAMES[Date.parse(day[:datetime]).wday] %></h5>
            <p><%= day[:datetime] %></p>
          </div>
        <% end %>
      </div>

      <div class="col-3 d-flex flex-column align-items-center justify-content-between">
        <% condition = day[:conditions].split(",")[0]%>
        <div class="h-75 mb-3">
        <%= image_tag("#{@weather.get_url(condition)}", width: "30%") %>
        </div>
        <p class="mb-0"><%= day[:conditions]%></p>
      </div>

      <div class="col-3 d-flex flex-column align-items-center justify-content-between">
        <% phase = day[:moonphase]%>
        <div class="h-75 mb-3">
        <%= image_tag("#{@weather.get_url(phase)}", width: "45%") %>
        </div>
        <p class="mb-0"><%= "#{@weather.get_moonphase(phase)}" %> </p>
      </div>

      <div class="col-3 d-flex flex-column align-items-center justify-content-between">
        <div class="h-75 mb-3">
        <%= image_tag("bortle/light-bulb.svg", width: "24%") %>
        </div>
        <p class="mb-0">Bortle: <%= @bortle %></p>
      </div>
    </div>
  </div>
</div>
