<div class="cards d-flex flex-column ">
  <%# <% day.each do |day| %>
    <div class="card mb-4 box-shadow">
      <div class="card-body text-center">
        <div class="row">
          <div class="col-3 text-start">
            <% if Date.parse(day[:datetime]) === Date.today %>
            <p>Today</p>
            <div><p><%= day[:datetime] %></p></div>
            <% elsif Date.parse(day[:datetime]) === Date.tomorrow %>
            <div><p><% day[:datetime] %></p></div>
            <% else %>
            <div><p><%= day[:datetime] %></p></div>
            <% end %>
          </div>

          <div class="col-3">
            <div>
            <%# <% condition = day[:conditions].split(",")[0]%>
            <%# <% if condition == "#{day[:conditions]}" %>  %>
            <%# <%= image_tag("weather/#{day[:conditions]}")%> %>
            <%# <% end %> %>
            <%# <%= day[:conditions]%> %> %>
            </div>
          </div>

          <div class="col-3">
            <div>
            <img src="" alt="">
            <p>moonphase: <%= day[:moonphase] %></p>
            </div>
          </div>

          <div class="col-3">
            <div>
            <img src="" alt="">
            <p>bortle: <%= @bortle %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%# <% end %>
</div>
