<div class="review-container">
  <div class="review-username">
    <% if review.user.photo.present? %>
      <img src="<%= review.user.photo %>" class="review-avatar"/>
    <% else %>
      <img class="review-avatar" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="">
    <% end %>
    <h2><%= review.user.username %></h2>
  </div>
  <div class="review-content">

      <div class="review-top d-flex justify-content-between">
        <h3><%= review.date %></h3>
        <p class="rating text-end">
          <% review.rating.times do %>
            <span class="fa fa-star checked"></span>
          <% end %>
          <% (5 - review.rating).times do %>
            <span class="fa-solid fa-star unchecked"></span>
          <% end %>
        </p>
      </div>
      <p class="review-text"><%= review.content %></p>
    <div class="review-underline"></div>
    <%# Images Placeholders to not break the view until we have a seed with images %>
    <div class="review-images d-flex align-items-center">
      <% review.photos&.split(',')&.each do |photo| %>
        <div data-controller="popup-img">
          <img src="<%= photo %>" class="review-image popup-img" data-popup-img-target="img"/>
          <div class="modal" data-popup-img-target="modal">
            <!-- The Close Button -->
            <span class="close" data-popup-img-target="close">&times;</span>
            <!-- Modal Image -->
            <img class="modal-content" data-popup-img-target="modalImg">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
