<% @noaddfav %>

<%= link_to "Back to Search page", search_path %>



<%= render 'overview', today: @meteo_prediction.first, marker: @marker, place_name: @place_name %>

<%= render 'prediction-card', meteo_prediction: @meteo_prediction[1..-1].first(6) %>

<div class="d-flex">
  <div class="reviews flex-grow-1">
    <div>
      <% if @marker  %>
        <%= link_to 'Add a review', new_marker_review_path(@marker), class: "NS-button" %>
        <% @marker.reviews.each do |review|%>
          <%= render 'review-card', review: review %>
        <% end %>
      <% else %>
        <p> No marker</p>
      <% end %>
      </div>
  </div>
</div>
