<div class="container">
  <%= simple_form_for([@marker, @review]) do |f| %>
    <%= f.input :rating %>
    <%= f.input :date, as: :date, html5: true %>
    <%= f.input :content, as: :text %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit %>
  <% end %>
</div>
